<div class="emberjs-slider-container">
  <input
    type="range"
    min="{{min}}"
    max="{{max}}"
    value="{{startValue}}"
    id="emberjs-slider-range"
    {{action 'onInput'}} />
</div>
{{yield}}